{
  "presets": [
    ["next/babel", {
      "@babel/plugin-proposal-private-methods'": {
        "loose": true
      }
    }],
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    "@babel/preset-typescript"
  ],
  
  "plugins": [
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }]
  ]
}